* {
  box-sizing: border-box;
}

/* Body section */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Headers styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 20px;
  background-color: #353840;
}

header h1 {
  display: inline-block;
  background-color: #9CD9D9;
}

/* Navbar styling */
header nav {
  padding-top: 0;
  margin-right: 2%;
  float: right;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: #9CD9D9;
}

header nav ul li a:link {
  color: #9CD9D9;
}

header nav ul li a:visited {
  color: #9CD9D9;
}

header nav ul li a:hover {
  color: #9CD9D9;
}

/* Hero section */
.hero-banner {
  text-align: right;
  background-image: linear-gradient(
      rgba(1, 108, 162, 0.45), 
      rgba(1, 108, 162, 0.45)
    ), url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2%;
}

.hero-banner h2 {
  display: inline-block;
  background-color: #9CD9D9;
}


/* Content */
.page-section {
  display: flex;
  flex-direction: row;
  margin: 20px 25px;
}

.page-section h2 {
  width: 25%;
  padding: 0px 35px;
  font-size: 30px;
  text-align: right;
  flex-wrap: wrap;
}

.content {
  width: 75%;
}

.contact-links {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
}

.contact-links a {
  text-decoration: none;
  padding: 10px;
}

/* Grid CSS ID */
#workGrid {
  margin: 2% 0px;
  display: grid;
  min-height: 500px;
  height: 100%;
  grid-template-rows: 75% 25%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "featuredProject featuredProject"
    "secondProject thirdProject";
}

#workGrid a {
  text-decoration: none;
}

.workGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  margin: 10px;
  border: 5px solid #9CD9D9;
}

#featuredProject {
  grid-area: featuredProject;
  background-image: url("../images/movie-background-collage.jpg");
}

#secondProject {
  grid-area: secondProject;
  background-image: url("../images/wooden-plate-fresh-chopped-various-vegetables-towel.jpg");
}

#thirdProject {
  grid-area: thirdProject;
  background-image: url("../images/beautiful-sky-clouds-cover-sun.jpg");
}

#headline {
  color: #353840;
  background-color: #9CD9D9;
  padding: 10px;
}

/* Media query for mobile phone screen styling */
@media only screen and (max-width: 600px) {
  

  .page-section h2 {
    font-size: 20px;
    padding: 10px;
  }

  #headline {
    font-size: 8px;
  }
 
}